<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>model</title>
</head>

<body>
    
    <div id="app">

        <form v-on:submit="handelForm">
            <label >First Name :</label>
            <input type="text" placeholder="budi" v-model.trim="dataPerson.firstname">

            <hr>
            <label >Last Name :</label>
            <input type="text" placeholder="anduk" v-model="dataPerson.lastname">

            <hr>
            <label >age :</label>
            <input type="text" placeholder="20" v-model.number="dataPerson.age">

            <hr>
            <label >Chack Box :</label>
            <input type="checkbox" v-model="dataPerson.chackbox">
            
            <br>
            {{ dataPerson.nama }}

            <br>
            {{ dataPerson.chackbox }}
            
            <button type="submit">Submit !!!</button>
        </form>

    </div>
</body>

<script>
    const app = {
        data() {
            return {
                dataPerson:{
                    firstname : '',
                    nama : '',
                    lastname : '',
                    age : '',
                    chackbox : false
                }
                
            }
        },
        methods: {
            handelForm(event){
                event.preventDefault()
                this.dataPerson.nama = this.dataPerson.firstname + " " + this.dataPerson.lastname
                console.log(this.dataPerson.firstname + " " + this.dataPerson.lastname)
                console.log(this.dataPerson.age)
                console.log(this.dataPerson.chackbox)
            }
        },
    }
    Vue.createApp(app).mount('#app')
</script>

</html>